.counter {
	width: 33.333333%;
	display: inline-block;
	padding: 10px 0 20px 5px;
	text-align: center;
	text-decoration: none;
	color: black;
	border-radius: 3px;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.counter_count {
	// font-weight: bold;
	text-align: center;
	font-size: 22px;
}
.counter_title {
	font-weight: 500;
	// color: #6F6F6F;
	color: #999;
	font-size: 9px;
	text-transform: uppercase;
}

.highlighted {
	background-color: #f2fdff;
}
