@import 'variables';
.counter {
	width: 33.335%;
	display: inline-block;
	padding: 10px 0 15px 3px;
	text-align: center;
	text-decoration: none;
	color: black;
	border-radius: 3px;
	border-radius: 0px 0px 2px 0px;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

.counter_count {
	// font-weight: bold;
	text-align: center;
	font-size: 22px;
	color: #3d93e3;
	padding-bottom: 7px;
}
.counter_title {
	font-weight: 500;
	color: $yoGrey;
	font-size: 9px;
	text-transform: uppercase;
}

.highlighted {
	background-color: #f2fdff;
}
