@import '../variables.scss';

.path {
	// margin: 8px;
	font-size: 14px;
	padding: 0px;
	margin-top: 0px;
	list-style: none;

	a {
		text-decoration: none;
		color:  #999;
		font-weight: 300;
		text-align: left;
		&:first-child {
			li {
				// padding-top: 16px;
				// border-top-left-radius: 3px;
				// border-top-right-radius: 3px;
			}
		}
		&:last-child {
			li {
				// padding-bottom: 15px;
				// border-bottom-left-radius: 3px;
				// border-bottom-right-radius: 3px;
			}
		}

		li {
			padding: 8px;
			padding-left: 16px;
			transition: color .3s;
			&:hover {
				color: $yoColor;
				background-color: #E1EFF5;
			}
		}
	}
}
