@import '../variables.scss';

.container {
	// box-shadow: 0 1px 1px rgba(0,0,0,0.09), 0 1px 1px rgba(0,0,0,0.07);
	// transition: box-shadow 0.2s cubic-bezier(.4,.97,.65,.61);
	// background-color: white;
	padding-top: 0px;
	margin-bottom: 0px;
	
}

.path {
	font-size: 14px;
	padding: 0px;
	list-style: none;
	li {
		padding: 8px;
		padding-left: 30px;
		transition: color .3s;
		&:hover {
			color: $yoColor;
			// background-color: #E1EFF5;
		}
	}
	a {
		text-decoration: none;
		color:  #999;
		font-weight: 300;
		text-align: left;
	}
}