@import 'variables';

$megaphoneBackground: #E2F1F7;
$megaphoneBorderColor: #BFD5E0;
$megaphoneColor: #1d475d;

.megaphone {
  max-width: 250px;
  background: $megaphoneBackground;
  border-color: $megaphoneBorderColor;
  color: $megaphoneColor;
  border-bottom: 0;
  padding: 0;
  margin-top: 11px;
}

.megaphone:after, .megaphone:before {
  display: block;
	border: solid transparent;
	content: ' ';
	height: 0;
	bottom: 100%;
	position: absolute;
	width: 0;
  left: 0px;
}

.megaphone:after {
	border-width: 6px;
	border-bottom-color: $megaphoneBackground;
  margin-left: -6px;
	left: 50%;
}

.megaphone:before {
  margin-bottom: -2px;
	border-width: 8px;
	border-bottom-color: $megaphoneBorderColor;
  left: 50%;
  margin-left: -8px;
  margin-bottom: 0px;
}

.text {
  padding: 10px 10px 5px;
}

.input {
  padding: 0 2px;
  width: 100%;
  height: 28px;
  line-height: 28px;
  background: rgba(255, 255, 255, .8);
  text-align: center;
  cursor: text;
}

.buttons {
  display: flex;
  margin-left: -1px;
  width: 250px;
}

.button {
  width: 25%;
  color: #fff;
  height: 28px;
  line-height: 25px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  transition: .2s ease-out;
  border: 0 solid rgba(0, 0, 0, .1);
}

.button:hover {
  filter: brightness(1.2);
  transition: none;
}

.vk {
  background: #45668E;
  border-radius: 0 0 0 3px;
  border-width: 0 0 1px 1px;
}

.fb {
  background: #3B5998;
  border-width: 0 0 1px 0;
}

.tw {
  background: #55ACEE;
  border-width: 0 0 1px 0;
}

.tb {
  background: #35465C;
  border-radius: 0 0 3px 0;
  border-width: 0 0 1px 0;
}
