.logotype {
  -webkit-mask: url('./components/Logotype/yo.svg') no-repeat center;
  -webkit-mask-size: 100px;
  background-size: 100px;
  height: 120px;
  width: 100%;
  margin: 0px 0px 10px;
  display: block;
  background: white;
}
