$vkColor: #4C75A3;
$twitterColor: #00acec;

.button {
	padding: 14px 20px;
	text-align: center;
	border-radius: 3px;
	width: 75%;
	margin: 20px auto 20px;
	cursor: pointer;
	transition: filter .2s ease-out, box-shadow .2s ease-in;
}

.button:hover {
	transition: background .2s ease-in;
}

.button:last-child {
	// margin: 10px auto 30px;
}

.button a {
	color: #fff;
}

.vk {
	background-color: $vkColor;
	&:hover {
		box-shadow: 0 0 50px $vkColor;
	}
}

.twitter {
	background-color: $twitterColor;
	&:hover {
		box-shadow: 0 0 50px $twitterColor;
	}
}

.email {
	background-color: #999;
}
