@import 'variables';

.blockTitle {
  padding: 15px;
  padding-left: 0px;
  background: #fafbfc;
  height: 51px;
  line-height: 25px;
  border-bottom: 1px solid $borderColor;
  border-radius: 3px 3px 0px 0px;
}
.blockTitleRight {
  color: $yoColor;
  float: right;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
    color: #1477A6;
  }
}

.separator {
  width: 10px;
  height: 10px;
  position: relative;
  margin: 1px 7px;
  position: absolute;
  display: inline-block;
  width: 100px;
}
.separator:before {
  display: block;
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0px;
  background: #C3C4C7;
  transform: rotate(-49deg);
}
.separator:after {
  display: block;
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0px;
  background: #C3C4C7;
  transform: rotate(-132deg);
  margin-top: 5px;
}

.navLink {
  color: #65686C;
  padding: 15px 3px 15px 17px;
  height: 51px;
}
.navItem {
  padding: 15px 3px 15px 17px;
  height: 51px;
}

.postsUser {
  display: inline-block;
  @media screen and (max-width: 500px) {
    display: none;
  }
}



.pick {
  display: inline-block;
  float: right;
}

.param {
  width: 100px;
  display: inline-block;
  border: 1px solid $borderColor;
  background-color: $greyBackground;
  padding: 3px 20px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  margin-top: -7px;

  &:first-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  &:last-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: -1px;
  }
}

.selected {
  background-color: $yoColor;
  color: white;
}
