@import 'variables';

.container_posts {
	border-radius: 3px;
	float: left;
	background-color: white;

	// box-shadow: 0 1px 2px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.14);
	transition: box-shadow 0.2s cubic-bezier(.4,.97,.65,.61);

	margin-bottom: 60px;
	// padding-top 10px
	z-index: 999999;
	max-width: 500px;
	min-width: 350px;
	width: 100%;
	min-height: 252px !important;

	@media screen and (max-width: 1000px){
		max-width: 56%;
		min-width: 50%;
		width: 100%;
	}
	@media screen and (max-width: 700px){
		display: block;
		max-width: 100%;
		min-width: 96%;
		width: 90%;

		margin: 0px 10px 0px 10px;

		min-height: 133px;
	}
	@media screen and (max-width: 500px){
		display: block;
		max-width: 100%;
		min-width: 100%;
		margin: 0px;
		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
		min-height: 133px;
	}
}

.header {
	.counter, .favourite {
		display: inline-block;
		margin-right: 10px;
		padding: 5px;
	}
	.counter {
		font-weight: bold;
		font-size: 18px;
	}
	.favourite {
		font-size: 16px;
	}
	padding: 8px 0px 6px 15px;

	h1 {
		margin: 0px;
		padding: 0px;
	}

	margin-bottom: 0px;
	// border-bottom: 1px solid #E7E7E7;
}

.loadMore {
	padding: 20px;
	text-align: center;
	color: $yoColor;
	cursor: pointer;
	background-color: $yoColor05;
}
