@import 'variables';

.header {
	text-align: center;
	font-weight: 300;
	font-size: 14px;
	padding: 10px;
	border-bottom: 1px solid $borderColor;
}

.container {
	transition: all .2s;
	border-radius: 3px;
	background-color: transparent;
	color: white;
	font-size: 20px;
	margin: auto;
	max-width: 500px;
	width: 100%;

	.preview {
		background-color: #EFEFEF;
		padding: 10px;
		float: right;
		height: 130px;
		width: 145px;
		border-radius: 3px;
	}

	@media screen and (max-width: 800px){
		display: block;
		max-width: 100%;
		width: 80%;
		margin: 10px auto;
		width: 400px !important;
	}
	@media screen and (max-width: 600px){
    width: 385px !important;
  }
	@media screen and (max-width: 400px){
		width: 285px !important;
	}
}

.above {
	z-index: 1;
	transition: opacity .4s;
	transition-delay: .2s;
	margin-top: 20px;
}

.attachForm {
	position: absolute;
	display: none;
}

.attachPhoto {
	// display: none;
}

.photoHolder {
	float: left;
	width: 110px;
	background-color: #CFEFD0;
	padding: 2px 8px 4px;
	border-radius: 3px;
	color: #36802B;
	cursor: pointer;
	transition: .2s background;

	&:hover {
		background: #D5EFF9;
		color: $yoColor;
	}
	&:active {
		color: $yoColor;
	}
}

.photoTitle {
	float: left;
	margin-top: 6px;
	font-size: 10px;
}

.addPhoto {
	position: relative;;
	display: right;
	z-index: 99999;
	-webkit-mask-size: cover;
	mask-size: cover;
	outline: 0px;
	outline-width: 0px;
	-webkit-mask-size: cover;
	display: inline-block;
	transition: transform .4s, background-color .5s, opacity .1s;
	background-color: white;
	-webkit-mask: url('./components/WriteBox/camera.svg') no-repeat 50% 50%;
	mask: url(./components/WriteBox/camera.svg) no-repeat 100% 100%;
	-webkit-mask-size: 16px;

	width: 16px;
	height: 16px;
	cursor: pointer;
	margin-left: 10px;
}

.attachPreview {
		background-color: #EFEFEF;
		float: right;
		height: 300px;
		width: 100%;
		border-radius: 0px;
		cursor: pointer;
		border-radius: 4px;
}

.button {
		margin: 10px;
}

.buttonSubmit {
	color: $yoColor;
	background: rgba(255, 255, 255, .2);
	text-align: center;
	font-size: 11px;
	border-radius: 3px;
	display: inline-block;
	padding: 10px;
	width: 160px;
	cursor: pointer;
	transition: .2s background;
	float: right;

	&:hover {
		background: #D5EFF9;
	}
}
