@import 'variables';

.container {
	// transition: all .2s;
	border-radius: 3px;
	background-color: white;
	float: left;
	max-width: 490px;
	width: 100%;
	// min-height: 175px;
	// max-height: 175px;
	margin-bottom: 10px;
	margin-top: 0px;

	border: 1px solid $borderColor;

	// box-shadow: 0 1px 2px rgba(0,0,0,0.09), 0 1px 2px rgba(0,0,0,0.04);
	// margin: 10px;
	textarea {
		border-radius: 3px;
		display: block;
		height: 140px;
		line-height: 30px;
		width: 100%;

		resize: none;
		font-size: 17px !important;
		border: 0;
		padding: 10px 10px 10px 16px;

		&:focus {
			outline: none;
		}
		@media screen and (max-width: 800px){
			// border-radius: 0px;
		}
		@media screen and (max-width: 500px){
			border-radius: 0px;
			// margin-bottom: 50px;
		}
	}
	.preview {
		background-color: #EFEFEF;
		padding: 10px;
		float: right;
		height: 130px;
		width: 145px;
		border-radius: 3px;
	}

	@media screen and (max-width: 1000px){
		max-width: 56%;
		min-width: 50%;
		width: 100%;
	}
	@media screen and (max-width: 800px){
		display: block;
		max-width: 100%;
		min-width: 90%;
		width: 90%;
		border-bottom: 1px solid #e7e7e7;

		margin: 0px 25px 14px 25px;
	}
	@media screen and (max-width: 500px){
		border-radius: 0px;
		display: block;
		max-width: 100%;
		min-width: 100%;
		margin: 0px;

		border-top-right-radius: 0px;
		border-top-left-radius: 0px;
	}

	textarea:focus::-webkit-input-placeholder { color:transparent; }
	textarea:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
	textarea:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
	textarea:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
}

.form {
	border-radius: 3px;
	background-color: white;
	float: left;
	max-width: 500px;
	width: 100%;
	z-index: 9999999;
}

.formOpen {
	padding: 15px;
	text-align: center;
	font-size: 18px;
	cursor: pointer;
}

.above {
	z-index: 1;
	transition: opacity .4s;
	transition-delay: .2s;
	margin-top: -20px;
}

.attachForm {
	position: absolute;
	display: none;
}

.attachPhoto {
	// display: none;
}

.photoHolder {
	float: right;
	// width: 140px;
	background-color: $yoColor05;
	margin-top: 10px;
	padding: 4px 7px 1px;
	border-radius: 3px;
	box-shadow: inset 0 -1px #E8EFFF;
	color: $yoColor;
	cursor: pointer;
}

.photoTitle {
	float: left;
}

.addPhoto {
	position: relative;;
	display: right;
	z-index: 99999;
	-webkit-mask-size: cover;
	mask-size: cover;
	outline: 0px;
	outline-width: 0px;
	mask-size: cover;
	-webkit-mask-size: cover;
	display: inline-block;
	transition: transform .4s, background-color .5s, opacity .1s;
	background-color: $yoColor;
	-webkit-mask: url('./components/WriteBox/camera.svg') no-repeat 50% 50%;
	mask: url(./components/WriteBox/camera.svg) no-repeat 100% 100%;
	-webkit-mask-size: 20px;

	width: 20px;
	height: 20px;
	cursor: pointer;
	margin-left: 10px;
}

.attachPreview {
		background-color: #EFEFEF;
		float: right;
		// position: absolute;
		margin-top: -140px;
		height: 120px;
		width: 202px;
		border-radius: 0px;
		cursor: pointer;
}

.button {
		margin: 10px;
}
