.social {
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	margin-bottom: 10px;
	img {
		width: 32px;
    height: 32px;
		margin-right: 8px;
		margin-left: 4px;
  }
  span {
    position: absolute;
    margin-top: 7px;
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
		max-width: 200px;
  }

	@media screen and (max-width: 600px) {
		margin-bottom: 0px;
	}
}

.inactive {
	filter:  grayscale(100%);
}
