.social {
	text-align: center;
	padding: 5px;
	margin: 0 auto;
<<<<<<< HEAD
	margin-bottom: 10px;
=======
>>>>>>> origin/master
	img {
		width: 35px;
    height: 35px;
		margin-right: 8px;
		margin-left: 4px;
  }
  span {
    position: absolute;
    margin-top: 7px;
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
		max-width: 200px;
  }
<<<<<<< HEAD

	@media screen and (max-width: 600px) {
		margin-bottom: 0px;
	}
=======
>>>>>>> origin/master
}

.inactive {
	filter:  grayscale(100%);
<<<<<<< HEAD
=======
	display: none;
>>>>>>> origin/master
}
