@import 'variables';

.avatar {
	margin: 0px auto;
<<<<<<< HEAD
	margin-top: 0px;
	padding-top: 30px;
=======
	margin-top: -30px;
>>>>>>> origin/master
	max-width: 100%;
	img {
		display: block;
		width: 240px;
		max-width: 220px;
		max-height: 220px;
		height: 240px;
		border-radius: 10000px;
		margin: 0px auto;
<<<<<<< HEAD
		background-color: #fafafa;
	}
	@media screen and (max-width: 600px) {
		padding-top: 15px;
		img {
			height: 100px;
			width: 100px;
		}

=======
>>>>>>> origin/master
	}
}

.username {
	min-height: 30px;
	margin: 15px auto;
	margin-bottom: 0px;
	text-align:  center;
	font-size: 24px;
	font-weight: 500;
	line-height: 130%;
	word-wrap: break-word;
	width: 215px;
}

.alias {
	text-align: center;
	color: #999;
	font-size: 18px;
}
.status {
	text-align: center;
	font-size: 16px;
	text-align-last: center;
	word-wrap: break-word;
	padding: 0px 15px 10px 15px;
	margin: auto;
	max-width: 230px;
}

.online {
	margin-bottom: 2px;
	margin-left: 4px;
<<<<<<< HEAD
	// opacity: .5;
	transition: all .3s;
	cursor: pointer;
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 50px;
	background-color: $yoColor;
=======
	opacity: .5;
	transition: all .3s;
	cursor: pointer;
	width: 10px;
>>>>>>> origin/master
	&:hover {
		opacity: 1;
	}
}
