@import 'variables';

.title {
  text-align: center;
  font-weight: bold;
}

.flex {
  display: flex;
  width: 70%;
  margin: 0px auto;
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 5px;
  margin-bottom: 12px;
  transition: background-image 1s ease-in-out;
  background-color: #eee !important;
  background-size: cover !important;
}

.remove {
	-webkit-mask: url('./components/Post/remove-button.svg') no-repeat 50% 50%;
	-webkit-mask-size: cover;
	background: $yoGrey;
	width: 20px;
	height: 20px;
	mask-size: cover;
  position: absolute;
  top: 8px;
  right: 8px;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	transition: all .2s;
	z-index: 99;
  opacity: .5;

  &:hover {
    opacity: .7;
  }
}

.refresh {
	-webkit-mask: url('./components/FriendsSmall/refresh.svg') no-repeat 50% 50%;
	-webkit-mask-size: 10px;
	background: $yoGrey;
	width: 20px;
	height: 20px;
	mask-size: 20px;
  position: absolute;
  top: 8px;
  left: 8px;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	transition: all .2s;
	z-index: 99;
  opacity: .5;

  &:hover {
    opacity: .7;
  }
}
