.container {
	transition: box-shadow 0.2s cubic-bezier(.4,.97,.65,.61);
	padding-top: 50px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display:  block;
	max-width: 840px;
	width: 100%;
}

.container_left {
	float: left;
	margin-right: 12px;

	display: inline-block;
	max-width: 300px;

	@media screen and (max-width: 1000px){
		width: 40%;
	}
	@media screen and (max-width: 700px){
		display: block;
		max-width: 100%;
		min-width: 96%;
		width: 90%;
		margin: 0px 10px 5px 10px;
	}
	@media screen and (max-width: 500px){
		display: block;
		max-width: 100%;
		min-width: 100%;
		margin: 0px;

		border-radius: 0px;
		min-height: 133px;
		margin-bottom: -10px;
		border: 1px solid #e3e3e3;
	}
}

@keyframes slideOutUp {
  0% {
  	opacity: 1;
  }

  100% {
  	visibility: collapse;
  	opacity: 0;
   transform: translate3d(50%, -50%, 0);
   // transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideIn {
  0% {
  	visibility: collapse;
  	opacity: 0;
  	transform: translate3d(-50%, -50%, 0);
  }

  100% {
  	visibility: visible;
  	opacity: 1;
    transform: translate3d(0, 0, 0);
   // transform: translate3d(0, -100%, 0);
  }
}

.smash {
	// overflow: hidden;
	animation: slideOutUp 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.smashNew {
	display: none;
	animation: slideIn 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
