@import 'variables';

.wrap {
	background-color: $greyBox;
	padding: 15px;
	padding-bottom: 0px;
	border-top: 1px solid $borderColor;
}
.textBox {
	background-color: white;
	border: 1px solid #C5C5C5;
	border-radius: 3px;
	min-height: 37px;
	padding: 8px 7px;
	&:focus {
		outline: none;
	}
}


.placeHolder {
	padding-left: 5px;
}
