.textBox {
	height: 100px;
	padding: 10px;
<<<<<<< HEAD
=======

>>>>>>> origin/master
	&:focus {
		outline: none;
	}
}
<<<<<<< HEAD


.placeHolder {
	padding-left: 5px;
}
=======
>>>>>>> origin/master
