:global {
  @import 'base';
  @import 'layout';
  @import 'vendor/normalize';

  /* General layout and reset */
 * {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   text-size-adjust: none;
 }
 input, textarea, button {
   outline: none;
   font-size: 17px;
 }
 table {
   border-collapse: collapse;
   border-spacing: 0;
 }
 body {
   font-family: 'Roboto', 'Helvetica Neue', sans-serif;
   color: #222;
   font-size: 14px;
   line-height: 1.3;
   font-weight: normal;
   -webkit-font-smoothing: antialiased;
 }

 textarea {
   border: 1px solid #e3e3e3;
   resize: none;
   border-radius: none;
   padding: 8px 0px 2px 8px;
   font-size: 15px;
 }

 /* General UI */
 a {
   padding-top: .2em;
   text-decoration: none;
  //  color: #148bc3;
   color: #0088cc;
 }

  .hidden {
    display: none;
  }
}
