@import 'variables';

.yourselfr {
  position: relative;
  background: #000 url(/assets/img/bg4.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 20px auto 0;
  padding-right: 5%;
  max-width: 900px;
  display: flex;
  justify-content: space-around;
  color: rgba(0, 0, 0, 1);
  font-family: "Helvetica Neue", "Arial", sans-serif;
  font-size: 17px;
  line-height: 1.4em;
}
.button {
  padding: 5px 15px 6px;
  background: #eee;
  display: inline-block;
  border-radius: 3px;
  box-shadow: inset 0 -1px #ccc;
  cursor: pointer;
  outline: 0;
  border: none;
}
.button--subscribe {
  background: #CCE7F4;
  color: #175E7B;
  box-shadow: inset 0 -1px #639ab4;
  text-align: center;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.button--register {
  background: #CCE7F4;
  color: #175E7B;
  box-shadow: inset 0 -1px #639ab4;
  text-align: center;
  margin-top: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.button--submit {
  color: #E98032;
  background: #FFF3BB;
  box-shadow: inset 0 -1px #F9D885;
  float: right;
  position: relative;
  text-align: center;
}
.button--save {
  color: #E98032;
  background: #FFF3BB;
  box-shadow: inset 0 -1px #F9D885;
  position: relative;
  text-align: center;
}
.button--upload {
  margin: 10px 8px 10px 0px;
  height: 30px;
  background: $yoColor05;
  color: $yoColor;
  box-shadow: inset 0 -1px #AADCFF;
}
.button--block {
  width: 100%;
}
.button--container {
  margin-top: 4px;
}



.button--block {
  width: 100%;
}
.button--photo {
  width: 36px;
  padding: 8px 7px 3px;
  float: right;
  position: relative;
  right: 12px;
}
.button:active {
  box-shadow: inset 0 -1px rgba(0, 0, 0, .1), inset 0 -100px 100px rgba(0, 0, 0, .05);
}
.box {
  background: rgba(255, 255, 255, 1);
  padding: 16px 12px 8px;
  border-radius: 3px;
  margin: 8px 0;
  width: 500px;
}
.user {
  float: left;
  margin: 0 8px;
}
.feed {
  float: left;
}

/* User box */
.box--narrow {
  width: 228px;
}
.user__picture {
  border-radius: 99px;
  margin: 0 auto;
  display: block;
}
.user__info {
  text-align: center;
}
.user__name {
  margin-top: 20px;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Bebas', sans-serif;
  font-weight: bold;
}
.user__stats {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.stats__count {
  line-height: 0.8em;
  font-size: 20px;
}
.stats__title {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Feed */
.box--input {
  padding: 0 0 40px;
  background: #fff;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 42px;
}
.feed__box {
    margin: 0;
}
.feed__box--posts {
  padding: 15px 10px;
  border-radius: 0;
}
.feed__input {
  border: 0;
  padding: 6px 10px 8px;
  margin: 0;
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 75px;
  resize: none;
  resize: vertical;
}
.post {
  display: flex;
  justify-content: flex-start;
  margin: 0 0 20px;
}
.post__date {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0 15px 0 0;
  color: #999;
  line-height: 2em;
  flex-shrink: 0;
  transition: .1s ease-in;
}
.post__image {
  width: 100%;
  display: block;
  margin: 0 0 5px;
  border-radius: 3px;
}
.post__text {
  flex: 1 1 auto;
}
.post__likes {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  padding: 0 0 0 15px;
  line-height: 2em;
  flex-shrink: 0;
  text-align: right;
  transition: .1s ease-in;
  cursor: pointer;
}
.post:hover .likes__image, .post:hover .post__likes, .post:hover .post__date {
  opacity: 1;
  color: #000;
  transition: 0;
}
.likes__image {
  height: 15px;
  width: auto;
  opacity: .5;
  vertical-align: middle;
  padding-bottom: 2px;
  transition: .1s ease-in;
}
.user__box {
  background: none;
  color: #fff;
  padding: 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .8), 0 2px 10px rgba(0, 0, 0, .6);
}

@media screen and (max-width: 750px) {
  .yourselfr {
    overflow-x: hidden;
    display: block;
    width: 100%;
    padding-right: 0;
  }
  .user__box {
    width: 100%;
  }
  .user {
    position: relative;;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px 0 20px;
  }
  .box {
    margin: 8px auto;
  }
  .feed__input {
    resize: none;
    height: 82px !important;
  }
  .feed__box {
    margin: 8px auto 0;
  }
  .feed__box {
    border-radius: 0;
    width: 90%;
    margin-top: 0
  }
  .feed__box:first-child {
    border-radius: 3px 3px 0 0;
    box-shadow: 0 -3px 30px rgba(0, 0, 0, .1);
  }
  .post__date {
    width: 60px;
    font-size: 10px;
  }
  .post__likes {
    font-size: 10px;
  }
}

@media screen and (max-width: 400px) {
  .feed__box {
    width: 100%;
  }
}

.input--form {
  background-color: #fdfdfd;
  border: 1px solid #edeeee;
  border-radius: 3px;
  font-size: 14px;
  padding: 9px 8px 7px;
  -webkit-appearance: none;
}
.input--block {
  width: 100%;
}
.input--container {
  margin-top: 6px;
}
