$white-base:    hsl(255, 255, 255);
<<<<<<< HEAD
$yoColor: #0088cc;
$yoBlue: #0088cc;
=======
$yoColor: #148bc3;
$yoBlue: #148BC3;
>>>>>>> origin/master
$yoColor05: #F2FDFF;
$yoGrey:  #777;
$yoGreyLight: #E5E5E5;
$yoGreen: #4CAF50;
$shadow:  0 1px 6px rgba(0,0,0,0.32);
$shadowLight: 0px 1px 1px rgba(0,0,0,0.12);
$whiteBackground: rgba(255,255,255,0.06);
$borderColor: #e4e6eb;
$greyBackground: #fafbfc;

$errorColor: #FF7878;
$successColor: #A7EF8A;

<<<<<<< HEAD
$linkColor: #0088cc;

$minHeight: 350px;
=======
$minHeight: 400px;
>>>>>>> origin/master
