/*
 * Colors
 * ========================================================================== */

$white-base:            hsl(255, 255, 255);
$yoColor:				#148bc3;
$yoColor05: #F2FDFF;
$yoGrey:  #a5a7aa;;
$yoGreyLight: #E5E5E5;
$yoGreen: #4CAF50;
$shadow:  0 1px 6px rgba(0,0,0,0.32);
$shadowLight: 0px 1px 1px rgba(0,0,0,0.12);
$whiteBackground: rgba(255,255,255,0.06);

/*
 * Typography
 * ========================================================================== */

$font-family-base:      'Roboto', 'HelveticaNeue-Light', sans-serif;

/*
 * Layout
 * ========================================================================== */

$max-content-width:     1000px;

/*
 * Media queries breakpoints
 * ========================================================================== */

$screen-xs-min:         480px;  /* Extra small screen / phone */
$screen-sm-min:         768px;  /* Small screen / tablet */
$screen-md-min:         992px;  /* Medium screen / desktop */
$screen-lg-min:         1200px; /* Large screen / wide desktop */

/*
 * Animations
 * ========================================================================== */

$animation-swift-out:   .45s cubic-bezier(0.3, 1, 0.4, 1) 0s;
