@import 'variables';

body {
  background-color: #fdfdfd;
  transition: background .6s;

}

.container {
  margin: 0px auto;
  padding: 40px 0 40px;
  max-width: 810px;
}
.containerSmall {
  margin: 0px auto;
  padding: 40px 0 40px;
  max-width: 410px;
}

.sameContainer {
  // float: right;
  text-align: right;
  padding-top: 10px;
  padding-right: 5px;
}

.title {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid #e7e7e7;
}

.right {
  float: left;
  min-width: 350px;
  max-width: 350px;
  border-radius: 3px;
  margin-left: 10px;
  width: 100%;

  @media screen and (max-width: 800px){
    // max-width: 900px;
    float: none;
    // max-width: 200px;
    min-width: 300px;
    max-width: 400px;
    width: 90%;
    margin: 20% auto;
  }
}

.titleAction {
  text-align: center;
  padding: 0px 0px 16px 0px;
  font-weight: bold;
  color: $yoGrey;
}

.formBlock {
  margin-top: 100px;
  @media screen and (max-width: 400px) {
    margin-top: 30px;
  }
}

.loginFormContainer {
  padding: 20px 10px 10px 10px;

  background-color: #fff;
  max-width: 260px;
  margin: auto;
  border-radius: 3px;
  margin-bottom: 10px;
}

.containerBlock {
  background-color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 20px;
  max-width: 260px;
  margin: 0px auto;
}

.loginFormContainer, .containerBlock {

  @media screen and (max-width: 800px) {
    max-width: 260px;
  }
  @media screen and (max-width: 600px) {
    max-width: 350px;
  }
}

.errorMessage {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  color: red;
}

.logotype {
  background: url('./components/AuthComponents/yo.png') no-repeat center;
  background-size: 150px;
  height: 100px;
  width: 100%;
  margin: 0px 0px 10px;
  display: block;
}
