@import 'variables';

.container {
  margin: 20px auto;
}

.logotype {
  background: url('./components/AuthComponents/logo_white.png') no-repeat center;
  background-size: 300px;
  height: 120px;
  width: 100%;
  margin: 70px 0px 20px;
  display: block;
}

.description {
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 300;
  @media screen and (max-width: 600px){
    font-size: 20px;
  }
}

.footer__anchor {
  // position: absolute;
  // bottom: 20px;
  // width: 100%;
}

.feed__title {
  text-align: center;
}

.left {
  max-width: 470px;
  border-radius: 3px;
  padding: 20px 0;
  background-color: #fff;
  z-index: 99999;
  margin: 100px auto;
  width: 100%;
  margin-bottom: 20px;
  @media screen and (max-width: 600px){
    width: 95%;
  }
}

.feedBox {
  height: 650px;
  overflow-y: auto;
}
