@import 'variables';

.container {
  max-width: 800px;
  margin: 20px auto;
}

.logotype {
  background: url('./components/AuthComponents/logo_white.png') no-repeat center;
  background-size: 300px;
  height: 120px;
  width: 100%;
  margin: 40px 0px 10px;
  display: block;
}

.description {
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  margin-top: 15px;
  @media screen and (max-width: 600px){
    font-size: 20px;
  }
}

.left__main {
  max-height: 300px;
  overflow: scroll;
}

.left {
  max-width: 470px;
  border-radius: 3px;
  background-color: #fff;
  z-index: 99999;
  margin: 40px auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media screen and (max-width: 600px){
    width: 95%;
  }
}

.feedBox {
  height: 650px;
  overflow-y: auto;
}
