@import 'variables';

.WantToRegister {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid $borderColor;
  background-color: $greyBackground;
  padding: 15px;
  text-align: center;
  color: $yoColor;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: bold;
  transition: background-color .1s;

  &:hover {
    background-color: $yoColor05;
  }
}

.container {
  background-color: #A2ADBC;
}
