@import 'variables';

.navbar {
  height: 60px;
  background-color: white;
  margin-bottom: 40px;
  border-bottom: 1px inset $borderColor;

  @media screen and (max-width: 600px) {
    margin-bottom: 0px;
    border-bottom: 0px;
  }
}

.logo {
  -webkit-mask: url('./components/Navigation/logo_big.png') no-repeat 50% 50%;
  -webkit-mask-size: 100px;
  width: 100px;
  height: 40px;
  background: $yoColor;
  background-size: 90px;
  background-position: left;
  cursor: pointer;
  transition: .2s ease-in background-color;
  margin-top: -5px;
}

.wrap {
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;

  @media screen and (max-width: 800px) {
    max-width: 400px;
  }
}

.item {
  width: 30%;
  line-height: 30px;
  margin-top: 15px;
  margin-left: 30px;

  @media screen and (max-width: 600px) {
    display: none;
  }
}

.right {
  line-height: 30px;
  margin-top: 15px;
  margin-left: auto;
  @media screen and (max-width: 600px) {
    display: none;
  }
}
