@import 'variables';
.navigation {
  height: 50px;
  margin-bottom: 60px;
  // margin-top: 10px;
  background-color: #fff;
}

.yoButton {
  padding: 25px;
  background: url('./components/Navigation/logo_big.png') no-repeat 50% 50%;
  background-size: 100px;
  background-position: center;
  cursor: pointer;
}

// .root {
//
// }
//
// .link {
//   display: inline-block;
//   padding: 3px 8px;
//   text-decoration: none;
//   font-size: 1.125em; /* ~18px */
// }
//
// .link,
// .link:active,
// .link:visited {
//   color: rgba(255, 255, 255, .6);
// }
//
// .link:hover {
//   color: rgba(255, 255, 255, 1);
// }
//
// .highlight {
//   margin-right: 8px;
//   margin-left: 8px;
//   border-radius: 3px;
//   background: rgba(0, 0, 0, .15);
//   color: #fff;
// }
//
// .highlight:hover {
//   background: rgba(0, 0, 0, .3);
// }
//
// .spacer {
//   color: rgba(255, 255, 255, .3);
// }
//
//
// .menu {
//   position: absolute;
//   padding: 2px 0px 4px 0px;
//   border: 1px solid #e3e3e3;
//   background-color: #FFFFFF;
//   min-width: 200px;
//   margin: 50px 0px 0px -40px;
//   font-weight: 300;
//
//   z-index: 999;
//   box-shadow: shadowLight;
//   border-radius: 5px;
// }
// .menu:li {
//     padding: 12px 14px 6px ;
//     border-bottom: 1px solid #E7E7E7;
//     font-size: 13px;
//     transition: background-color .1s;
//     cursor: pointer;
// }
