@import 'variables';
.navigation {
  height: 80px;
  margin-bottom: 10px;
  // background-color: #ffffff;
}

.yoButton {
  padding: 25px;
  background: url('./components/Navigation/logo_big.png') no-repeat 50% 50%;
  background-size: 200px;
  background-position: center;
  cursor: pointer;
  padding-top: 85px;
}

.menu {
  position: absolute;
  margin: 50px auto;
  text-align: center;
  background-color: white;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.09), 0 1px 4px rgba(0,0,0,0.07);
  width: 350px;
  height: 235px !important;
  left: 50%;
  margin-left: -175px;
  z-index: 999999999999999999999999999999999999999999999999999999999;
  border-top: 3px solid $yoColor;
  border-radius: 4px;
  top: 50px;
  transition: top .2s, opacity .1s, visibility .3s;
  visibility: visible;
}
.menu:after {
  bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.menu:after {
  border-color: rgba(136, 183, 213, 0);
	border-bottom-color: $yoColor;
	border-width: 10px;
	margin-left: -10px;
}

.hiddenMenu {
  visibility: hidden;
  opacity: 0;
  top: 20px;
  transition: top .2s ease-in-out, opacity .3s, visibility .3s;
}

.element {
  cursor: pointer;
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(0,0,0, .05);
  color: #999;
  // text-transform: uppercase;
  font-size: 12px;

  a {
    color: #999;
  }
  &:hover {
    background-color: rgba(0,0,0, .01);
  }
}


.photo {
  height: 50px;
  border-radius: 100px;
  margin: 10px auto;
  width: 50px;
  img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
  }
}

.icon {
  cursor: pointer;
  height: 50px;
  margin: 10px 0px 10px 0px;
  width: 100%;
  max-height: 50px;
}

.iconProfile {
  -webkit-mask: url('./components/Navigation/icons/preferences.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 80px;
}
.iconFeed {
  -webkit-mask: url('./components/Navigation/icons/feed.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 35px;
}
.iconPreferences {
  -webkit-mask: url('./components/Navigation/icons/preferences.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 60px;
}
.iconFollowers {
  -webkit-mask: url('./components/Navigation/icons/followers.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 30px;
}
.iconFollowing {
  -webkit-mask: url('./components/Navigation/icons/following.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 40px;
}
.iconLogout {
  -webkit-mask: url('./components/Navigation/icons/logout.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 30px;
}
