@import 'variables';
.navigation {
  height: 80px;
  margin-bottom: 10px;
  z-index: 99999;
  // background-color: #ffffff;
}

.yoButton {
  padding: 25px;
  background: url('./components/Navigation/logo_big.png') no-repeat 50% 50%;
  background-size: 200px;
  background-position: center;
  cursor: pointer;
  padding-top: 85px;
}

.menu {
  position: absolute;
  text-align: center;
  background-color: white;
  padding-top: 10px;
  // box-shadow: 0 1px 1px rgba(0,0,0,0.09), 0 1px 4px rgba(0,0,0,0.07);
  border: 1px solid $borderColor;
  width: 320px;
  height: 200px !important;
  left: 50%;
  margin-left: -175px;
  z-index: 9999;
  border-radius: 4px;
  transition: top .2s, opacity .1s, visibility .3s;
  visibility: visible;
}

.menu:after, .menu:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	left: 50%;
	position: absolute;
	width: 0;
  bottom: 100%;
  margin-left: -10px;
}

.menu:after {
	border-width: 9px;
	border-bottom-color: white;
	left: 50%;
}

.menu:before {
	border-width: 11px;
	border-bottom-color: $borderColor;
  left: 50%;
  margin-left: -12px;
}

.hiddenMenu {
  visibility: hidden;
  opacity: 0;
}

.element {
  cursor: pointer;
  height: 90px;
  width: 100px;
  display: inline-block;
  transition: all .2s;

  border-left: 1px solid rgba(0,0,0, .05);
  &:nth-child(1), &:nth-child(4) {
      border-left: 0px;
  }
  color: #999;
  font-size: 12px;

  a {
    font-weight: 500;
  	color: $yoGrey;
  	font-size: 9px;
  	text-transform: uppercase;
  }
  &:hover {
    background-color: $yoColor05;
    a {
        color: #3d93e3;
    }
  }
}


.photo {
  height: 50px;
  border-radius: 100px;
  margin: 10px auto;
  width: 50px;
  img {
    height: 40px;
    width: 40px;
    border-radius: 100px;
  }
}

.icon {
  cursor: pointer;
  height: 50px;
  margin: 10px 0px 10px 0px;
  width: 100%;
  max-height: 50px;
  transition: all .2s;
  &:hover {
    background: #3d93e3;
  }
}

.iconProfile {
  -webkit-mask: url('./components/Navigation/icons/preferences.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 70px;
}
.iconFeed {
  -webkit-mask: url('./components/Navigation/icons/feed.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 30px;
}
.iconPreferences {
  -webkit-mask: url('./components/Navigation/icons/preferences.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 40px;
}
.iconFollowers {
  -webkit-mask: url('./components/Navigation/icons/followers.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 20px;
}
.iconFollowing {
  -webkit-mask: url('./components/Navigation/icons/following.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 30px;
}
.iconLogout {
  -webkit-mask: url('./components/Navigation/icons/logout.svg') no-repeat 50% 50%;
  background: #DFDFDF;
  -webkit-mask-size: 20px;
}
