@import 'variables';

.logotype {
  background: url('./routes/AuthComponents/logo_white.png') no-repeat center;
  background-size: 300px;
  height: 120px;
  width: 100%;
  margin: 70px 0px 20px;
  display: block;
}

.description {
  text-align: center;
  color: #fff;
  font-size: 36px;
  line-height: 1.2em;
  font-weight: 300;
  @media screen and (max-width: 600px){
    font-size: 25px;
  }
}

.footer__anchor {
  // position: absolute;
  // bottom: 20px;
  // width: 100%;
}

.feed__title {
  text-align: center;
}

.wrap {
  max-width: 900px;
  margin: 0px auto;
}

.right {
  max-width: 470px;
  border-radius: 3px;
  background-color: #fff;
  z-index: 99999;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid $borderColor;
  margin-left: 0px;

  @media screen and (max-width: 800px) {
    margin: 50px auto;
  }
  @media screen and (max-width: 600px) {
    border-left: 0px;
    border-right: 0px;
  }
}

.feedBox {
  height: 650px;
  overflow-y: auto;
}
