.subscribe {
  background: #52c25d;
  color: #fff;
  border-radius: 40px;
  height: 38px;
  font-size: 14px;
  line-height: 36px;
  text-align: center;
  margin: 20px auto 0px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: color 200ms ease, border-color 200ms ease, background 200ms ease;
  margin-bottom: 15px;
  max-width: 130px;
}

.follow {
  background: white;
  border: 1px solid #639ab4;
  color: #175E7B;
  box-shadow: inset 0 0px #639ab4;
}

.following {
  background: #52c25d;
  color: #ffffff;
  box-shadow: none;
}
