@import 'variables';

.subscribe {
  text-align: center;
  margin: 0px auto 0px;
  margin-bottom: 15px;
  max-width: 120px;
  min-width: 120px;
  z-index: 99999999999999999;
}

.inline {
  display: inline-block;
  float: right;
}
