.photoPost {
	border-radius: 0px;
	justify-content: center;
	display: inline-flex;
	min-height: 250px;
	overflow: hidden;
	width: 100%;
}

.photoPostFeed {
	border-radius: 0px;
	justify-content: left;
	display: flex;
	min-height: 300px;
	width: auto;
	overflow: hidden;
	background-size:cover !important;
	background-position:center !important; /* IE fix */
	background-color: #F7F7F7;
	margin-left: -1px;
	width: 100%;
}

.background {
	background-size:cover !important;
	background-position:center;
	background-color: #F7F7F7;
	width: 100%;
	min-height: 250px;
	filter: brightness(70%);
	margin-top: -250px;
	margin-left: -1px;
	width: 100.6%;
}

.photoPost:hover .removePhotoPost {
	display: block;
	opacity: .8;
}
.photoText {
	text-align: center;
	max-width: 495px;
	width: 100%;
	font-size: 18px;
	color: white;
	text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.2);
	align-self: center;
	z-index: 999999999;
}
.text {
	max-width: 180px;
	margin: auto;
	word-wrap: break-word;
}
.removePhotoPost {
	-webkit-mask: url('./components/Post/remove-button.svg') no-repeat 50% 50%;
	-webkit-mask-size: cover;
	background: white;
	width: 28px;
	height: 28px;
	mask-size: cover;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	opacity: 0;
	transition: all .2s;
	margin-top: -8px;
	z-index: 99999999;
	align-self: center;
	text-align: left;
	width: 20px;
	margin-left: 15px;

	&:hover {
		opacity: 1 !important;
	}
}

.userPhoto {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin: 0px;
	margin-top: 5px;
  z-index: 999;
  background-size: contain;
}
