.photoPost {
	border-radius: 0px;
	justify-content: left;
	display: flex;
	min-height: 250px;
	width: auto;
	overflow: hidden;
	background-size:cover !important;
	background-position:center;
	background-color: #F7F7F7;
	margin-left: -1px;
	width: 100.6%;
}

.photoPost:hover .removePhotoPost {
	display: block;
	opacity: .8;
}
.photoText {
	text-align: center;
	max-width: 495px;
	width: 100%;
	font-size: 20px;
	color: white;
	text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.2);
	align-self: center;
}
.removePhotoPost {
	-webkit-mask: url('./components/Post/remove-button.svg') no-repeat 50% 50%;
	-webkit-mask-size: cover;
	background: white;
	width: 28px;
	height: 28px;
	mask-size: cover;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	opacity: 0;
	transition: all .2s;
	margin-top: -8px;
	z-index: 99999999;
	align-self: center;
	text-align: left;
	width: 20px;
	margin-left: 15px;

	&:hover {
		opacity: 1 !important;
	}
}
