@import 'variables';

.blockTitle {
  padding: 15px;
  padding-left: 0px;
  background: #fafbfc;
  height: 51px;
  line-height: 25px;
  border-bottom: 1px solid $borderColor;
  border-radius: 3px 3px 0px 0px;
}

.separator {
  width: 10px;
  height: 10px;
  position: relative;
  margin: 1px 7px;
  position: absolute;
  display: inline-block;
  width: 100px;
}
.separator:before {
  display: block;
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0px;
  background: #C3C4C7;
  transform: rotate(-49deg);
}
.separator:after {
  display: block;
  content: '';
  width: 1px;
  height: 8px;
  position: absolute;
  top: 5px;
  left: 0px;
  background: #C3C4C7;
  transform: rotate(-132deg);
  margin-top: 5px;
}

.navLink {
  color: #65686C;
  padding: 15px 3px 15px 17px;
  height: 51px;
}
.navItem {
  padding: 15px 3px 15px 17px;
  height: 51px;
}

.photo {
  height: 90px;
  border-radius: 50%;
  margin: 0px;
  z-index: 999;
  margin-top: 30px;
  margin-left: 20px;
  background-size: contain;
}

.background {
	z-index: 1;
	width: 100.4%;
	max-height: 158px;
	height: 140px;
  margin-bottom: -150px;
  margin-left: -1px;
}

.subscription {
  z-index: 99999;
  min-height: 140px;
}

.info {
  display: inline-block;
  position: absolute;
  padding: 65px 0px 50px 20px;
}

.username {
  text-decoration: none;
  font-size: 20px;
  color: $yoColor;
}
.alias {
  color: $yoGrey;
}

.noSubscriptions {
  color: #999;
  text-align: center;
  margin-top: 130px;
}
