@import 'variables';

.container {
  display: flex;
  z-index: 99999;
  min-height: 70px;
  height: 110px;
  z-index: 9999;
  overflow: hidden;
}
.photo {
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  margin: 0px;
  z-index: 999;
  margin: 20px;
  background-size: contain;
}

.background {
  // background-size:cover !important;
  // background-position:center;
  // background-color: #F7F7F7;
  height: 100px;
  margin-bottom: -111px;
  margin-left: -1px;
  width: 100.6%;
  z-index: -9999;
  display: block;
}

.alpha {
  background-color:rgba(0,0,0,0.8);
  height: 100px;
  width: 100%;
}

.borderBottom {
  border-bottom: 1px solid $borderColor;
}

.info {
  margin: 30px;
  margin-left: 0px;
  width: 40%;
  @media screen and (max-width: 600px) {
    width: 50%;
  }
  @media screen and (max-width: 400px) {
    width: 30%;
  }
}
.SubscribeButton {
  margin-top: 35px;
  margin-right: 15px;
}

.username {
  text-decoration: none;
  font-size: 20px;
  color: $yoColor;
}
.alias {
  color: $yoGrey;
}
