@import 'variables';

.container {
  display: flex;
  z-index: 99999;
  min-height: 70px;
  height: 110px;
  z-index: 9999;
  overflow: hidden;

  @media screen and (max-width: 400px) {
    height: 90px;
  }
}
.photo {
  height: 80px;
  min-width: 80px;
  border-radius: 50%;
  margin: 0px;
  z-index: 999;
  margin: 20px;
  background-size: contain;

  @media screen and (max-width: 400px) {
    min-width: 50px;
    height: 50px;
    width: 50px;
  }
}

.background {
  // background-size:cover !important;
  // background-position:center;
  // background-color: #F7F7F7;
  height: 100px;
  margin-bottom: -111px;
  margin-left: -1px;
  width: 100.6%;
  z-index: -9999;
  display: block;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    // background-color:rgba(0,0,0,0.4);
    height: 100px;
    width: 100%;
  }
}

.borderBottom {
  border-bottom: 1px solid $borderColor;
}

.info {
  margin: 30px;
  margin-left: 0px;
  width: 40%;
  @media screen and (max-width: 600px) {
    width: 50%;
  }
  @media screen and (max-width: 400px) {
    width: 30%;
  }
}
.SubscribeButton {
  align-self: center;
  margin-top: 10px;
  width: 20%;
  margin-right: 15px;
}

.username {
  text-decoration: none;
  font-size: 20px;
  color: $yoColor;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}
.alias {
  color: $yoGrey;
}
