@import 'variables';

.footer {
  margin-top: 5px;
  text-align: center;
}
.footerA {
  padding: 2px 5px;
  // color: $yoColor;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $yoColor05;
  }
}
