@import 'variables';

.footer {
  margin-top: 5px;
  text-align: center;
}
.footerA {
  padding: 2px 5px;
<<<<<<< HEAD
  color: $yoColor;
=======
  // color: $yoColor;
>>>>>>> origin/master
  text-decoration: none;
  cursor: pointer;
}

.footer a {
<<<<<<< HEAD
  // color: rgba(255, 255, 255, .7);
  color: $yoColor;
  transition: .2s ease;
  &:hover {
    font-weight: bold;
  }
}

.footer span {
  color: $yoGrey;
=======
  color: rgba(255, 255, 255, .7);
  transition: .2s ease;
}

.footer a:hover {
  color: #fff;
  transition: 0;
>>>>>>> origin/master
}
