@import 'variables';

.first:first-child {
	padding-top: 10px;
}

.post {
	word-wrap: break-word;
	padding: 10px 15px 10px 5px;
	line-height: 20px;
	font-size: 16px;
	justify-content: left;
	display: flex;
	width: 100%;
	a {
		background-color: transparent;
		color: $yoColor;
		border-bottom: 1px inset rgba(60, 151, 188, 0.25);
		text-decoration: none;
		transition: all .2s ease-out;
	}

	a:hover {
		color: #d04000;
		border-color: rgba(208, 64, 0, 0.51);
		transition: 0;
	}


	.time {
		font-weight: 300;
		font-size: 14px;
		align-self: center;
		padding: 0px 0px 0px 10px;
		color: $yoGrey;
		width: 55px;
		@media screen and (max-width: 500px) {
			padding: 0px 0px 0px 3px;
		}
	}
	.text {
		width: 100%;
		font-weight: 400;
		color: #515151;
		padding-left: 3px;
	}
	.like {
		align-self: center;
	}
	.fav {
		align-self: center;
	}
	@media screen and (max-width: 500px) {
		font-size: 14px;
	}
}
.hot {
	background-color: #F2FAFF;
}

.comment {
	margin-left: 50px;
	min-height: 55px;
	max-width: 438px;
	.time {
		width: 50px;
	}
	@media screen and (max-width: 500px) {
		margin-left: 20px;
	}
}
.commentText {
	margin-top: 0px;
}
.commentTime {
	font-weight: 300;
	font-size: 14px;
	color: #8d96a2;
	// width: 150px;
}
.commentAuthor {
	font-weight: bold;
	border-bottom: none !important;
}

.photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0px;
  z-index: 999;
  margin-left: 0px;
  background-size: contain;
}

.attachmentPhoto {
	max-width: 490px;
	background-color: #EFEFEF;
	border-radius: 2px;

	@media screen and (max-width: 1000px) {
		max-width: 100%;
	}
}



.removeButton {
	-webkit-mask: url('./components/Post/remove-button.svg') no-repeat 50% 50%;
	-webkit-mask-size: cover;
	background: #148BC3;
	width: 22px;
	height: 22px;
	mask-size: cover;
	position: absolute;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	opacity: 0;
	transition: all .2s;
	display: none;
	margin-top: -8px;
	z-index: 99999999;
}
.removeButton:hover {
	opacity: 1 !important;
}

.post:hover .removeButton {
	display: block;
	opacity: .6;
}
.post:hover .hideOnHover {
	display: none;
}

.photoPost {
	border-radius: 0px;
	justify-content: left;
	display: flex;
	min-height: 250px;
	width: auto;
	overflow: hidden;
	background-size:cover !important;
	background-position:center !important; /* IE fix */
	background-color: #F7F7F7;
	margin-left: -1px;
	width: 100.4%;
}

.photoPost:hover .removePhotoPost {
	display: block;
	opacity: .8;
}
.photoText {
	text-align: center;
	max-width: 495px;
	width: 100%;
	font-size: 26px;
	color: white;
	font-family: Courier, monospace;
	letter-spacing: 3px;
	text-shadow: 3px 1px 5px rgba(0, 0, 0, 0.2);
	align-self: center;
}
.removePhotoPost {
	-webkit-mask: url('./components/Post/remove-button.svg') no-repeat 50% 50%;
	-webkit-mask-size: cover;
	background: white;
	width: 28px;
	height: 28px;
	mask-size: cover;
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
	opacity: 0;
	transition: all .2s;
	margin-top: -8px;
	z-index: 99999999;
	align-self: center;
	text-align: left;
	width: 20px;
	margin-left: 15px;

	&:hover {
		opacity: 1 !important;
	}
}
