@import 'variables';

.subContainer {
  &:first-child {
    .background {
      border-radius: 3px 3px 0px 0px;
    }
  }
}

.photo {
  height: 90px;
  border-radius: 50%;
  margin: 0px;
  z-index: 999;
  margin-top: 30px;
  margin-left: 20px;
  background-size: contain;
}

.background {
	z-index: 1;
	width: 100%;
	max-height: 158px;
	height: 140px;
  margin-bottom: -150px;


}

.subscription {
  z-index: 99999;
  min-height: 140px;
}

.info {
  display: inline-block;
  position: absolute;
  padding: 75px 0px 50px 20px;
}

.username {
  text-decoration: none;
  font-size: 20px;
  color: $yoColor;
}
