@import 'variables';

.root {
  // height: 100%;
}

.container {
  margin: 160px auto;
  padding: 0 0 40px;
  max-width: 800px;
}

.left {
  float: left;
  display: inline-block;
  min-width: 400px;
  max-width: 600px;
  border: 1px solid #edeeee;
  height: 450px;

}

.right {
  margin-top: 90px;
  float: right;
  display: inline-block;
  min-width: 350px;
  max-width: 350px;
  background-color: #fff;
}

.loginFormContainer {
  padding: 20px 40px 30px 40px;
  border: 1px solid #edeeee;
  // max-width: 300px;
  margin: auto;
  border-radius: 3px;
}

.logotype {
  background: url('./components/Login/logo.png') no-repeat;
  background-size: 150px;
  height: 60px;
  width: 300px;
  margin: 0px 60px 10px;
}
