@import 'variables';

h3 {
  margin-top: 5px;
  font-weight: bold;
  margin-left: 8px;
  margin-bottom: 0;
  line-height: 1em;
}

small {
  margin-left: 8px;
}

.status, .username, .alias, .network {
  margin: 5px 0px;
  padding: 5px;
  resize: none;
  outline: none;
  width: 100%;
  margin-bottom: 0px;
  border: 0px;
  border: 2px solid transparent;
  border-bottom: 1px solid $yoGreyLight;

  &:focus {

  }
}

.avatar {
  margin-top: 10px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 1px solid $borderColor;
  color: $yoColor;
  font-size: 16px;
  text-transform: uppercase;
  &:hover {
    border-color: $yoColor;
    color: $yoColor;
  }
  &:focus {
    color: #336780;
  }
}
.background {
  margin-top: 10px;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: transparent;
  border: 1px solid $borderColor;
  color: #90A4AE;
  font-size: 16px;
  text-transform: uppercase;
  &:hover {
    border-color: #90A4AE;
    color: #607D8B;
  }
  &:focus {
    color: #78909C;
    border-color: #455A64;
  }
}

.uploadSuccess {
  color: $yoGreen !important;
  border-color: $yoGreen;
}

.checkmark{
  padding: 15px;
  display:inline-block;

  &:after{
    /*Add another block-level blank space*/
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 8px;
    height: 16px;

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid $yoGreen;
    border-width: 0 2px 2px 0;

    /*Rotate the L 45 degrees to turn it into a checkmark*/
    transform: rotate(45deg);
  }
}

.avatarHolder {
  padding: 10px;
  margin-left: 0px;;
}
.backgroundHolder {
  padding: 10px;
  margin-left: 0px;
}

.photoPlus {
  font-size: 46px;
  font-weight: bold;
  margin-top: -20px;
}

.savePreferences {
  width: 100%;
  height: 60px;
  color: $yoColor;
  background-color: $yoColor05;
  opacity: .8;
}

// .fetching {
//   overflow: hidden;
//   background-size:100px 100px;
//   background-image: linear-gradient(-45deg,
//      #f9d885 25%, #fff3bb 25%,
//      #fff3bb 50%, #f9d885 50%,
//      #f9d885 75%, #fff3bb 75%);
//   animation: anim 1s linear infinite;
// }

.fetchingForms {
  // overflow: hidden;
  // background-size:100px 100px;
  // background-image: linear-gradient(-45deg,
  //    $yoColor05 25%, $yoColor 25%,
  //    $yoColor 50%, $yoColor05 50%,
  //    $yoColor05 75%, $yoColor 75%);
  // animation: anim 1s linear infinite;
  // opacity: 0.8;
  // overflow: hidden;
  // cursor: wait;
  // // border: 2px solid $yoColor;
  background-color: $yoColor05;
  transition: all .2s;
}
@keyframes anim {
  0% { background-position: 0px 0px; }
  100% { background-position: 50px 50px }
}

.state {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 11px;
}
.stateStatus {
  margin-top: -3px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 11px;
}
.success {
  background-color: $successColor;
  color: $white-base;
  font-weight: 500;
}
.error {
  background-color: $errorColor;
  color: $white-base;
  font-weight: 500;
}

.formError {
  border-bottom: 1px solid $errorColor;
}
.formSuccess {
  border-bottom: 1px solid $successColor;
}

.loader {
  margin-top: -5px;
  position: absolute;
  margin-left: 33px;
}

.photoLeft {
  padding: 10px;
  float: left;
  max-width: 50%;
  width: 50%;
  text-align: center;
}

.photoRight {
  padding: 10px;
  float: left;
  max-width: 50%;
  width: 50%;
  text-align: center;
}
.descTitle {
  color: #999;
}
.category {
  display: inline-block;
  font-variant: small-caps;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 10px;
  letter-spacing: 1px;
  a {
    display: block;
    padding: 8px 15px 8px 10px;
    border-radius: 3px;
  }
  @media screen and (max-width: 500px) {
    font-size: 13px;
  }
}
