@import 'variables';

.status, .username, .alias {
  resize: none;
  outline: none;
  width: 100%;
  margin-bottom: 0px;
  border: 0px;
  border-bottom: 1px solid $yoGreyLight;
  &:focus {

  }
}

.savePreferences {
  width: 100%;
  height: 60px;
  color: $yoColor;
  background-color: $yoColor05;
  opacity: .8;
}

.fetching {
  overflow: hidden;
  background-size:100px 100px;
  background-image: linear-gradient(-45deg,
     #f9d885 25%, #fff3bb 25%,
     #fff3bb 50%, #f9d885 50%,
     #f9d885 75%, #fff3bb 75%);
  animation: anim 1s linear infinite;
}
@keyframes anim {
  0% { background-position: 0px 0px; }
  100% { background-position: 50px 50px }
}
